@model IEnumerable<RSHA.Models.Requests>
@{
    ViewData["Title"] = "Index";
}
<div class="bg-md-fixed">
    <br /><br />
    <div class="container bg-table border border-dark">
        <br /><br />
        <div class="row">
            <div class="col-6">
                <h2 class="text-info">Request Overview</h2>
            </div>
            <div class="col-6 text-right">
                <a asp-action="Locate" class="btn btn-sub btn-sub-primary"> <i class="fas fa-plus"></i>&nbsp; Request Mechanic</a>
            </div>
        </div>

        <br />

        <div>
            <table class="tableme">
                <tr class="thead">
                    <th>
                        @Html.DisplayNameFor(m => m.RequestCreated)
                    </th>
                    <th class="resp-mobile resp-tablet">
                        @Html.DisplayNameFor(m => m.RequestScheduledDate)
                    </th>
                    <th class="resp-mobile">
                        @Html.DisplayNameFor(m => m.ProblemTypes)
                    </th>
                    <th class="resp-mobile  resp-tablet resp-biglet">
                        @Html.DisplayNameFor(m => m.Location)
                    </th>
                    <th class="resp-mobile">
                        @Html.DisplayNameFor(m => m.CarLicensePlate)
                    </th>
                    <th class="resp-mobile  resp-tablet">
                        @Html.DisplayNameFor(m => m.Completed)
                    </th>
                    <th></th>
                    <th></th>
                </tr>

                @foreach (var item in Model.Where(m => m.Completed == false))
                {
                    <tr class="tbody bg-infome">
                        <td>
                            @Html.DisplayFor(m => item.RequestCreated)
                        </td>
                        <td class="resp-mobile resp-tablet">
                            @Html.DisplayFor(m => item.RequestScheduledDate)
                        </td>
                        <td class="resp-mobile">
                            @Html.DisplayFor(m => item.ProblemTypes.Name)
                        </td>
                        <td class="resp-mobile  resp-tablet resp-biglet">
                            @Html.DisplayFor(m => item.Location)
                        </td>
                        <td class="resp-mobile">
                            @Html.DisplayFor(m => item.CarLicensePlate)
                        </td>
                        <td class="resp-mobile  resp-tablet">
                            @Html.DisplayFor(m => item.Completed)
                        </td>
                        <td>
                            <partial name="_TableButtonPartial" model="item.Id" />
                        </td>
                    </tr>
                }
            </table>
        </div>

        <br />  <br />

        <div class="row">
            <div class="col-6">
                <h2 class="text-secondary">Past Request</h2>
            </div>
            <div class="col-6 text-right">
            </div>
        </div>

        <br />

        <div>
            <table class="tableme">
                <tr class="thead">
                    <th>
                        @Html.DisplayNameFor(m => m.RequestCreated)
                    </th>
                    <th class="resp-mobile resp-tablet">
                        @Html.DisplayNameFor(m => m.RequestScheduledDate)
                    </th>
                    <th class="resp-mobile">
                        @Html.DisplayNameFor(m => m.ProblemTypes)
                    </th>
                    <th class="resp-mobile  resp-tablet resp-biglet">
                        @Html.DisplayNameFor(m => m.Location)
                    </th>
                    <th class="resp-mobile">
                        @Html.DisplayNameFor(m => m.CarLicensePlate)
                    </th>
                    <th class="resp-mobile  resp-tablet">
                        @Html.DisplayNameFor(m => m.Completed)
                    </th>
                    <th></th>
                    <th></th>
                </tr>

                @foreach (var item in Model.Where(m => m.Completed == true))
                {
                    <tr class="tbody bg-darkme">
                        <td>
                            @Html.DisplayFor(m => item.RequestCreated)
                        </td>
                        <td class="resp-mobile resp-tablet">
                            @Html.DisplayFor(m => item.RequestScheduledDate)
                        </td>
                        <td class="resp-mobile">
                            @Html.DisplayFor(m => item.ProblemTypes.Name)
                        </td>
                        <td class="resp-mobile  resp-tablet resp-biglet">
                            @Html.DisplayFor(m => item.Location)
                        </td>
                        <td class="resp-mobile">
                            @Html.DisplayFor(m => item.CarLicensePlate)
                        </td>
                        <td class="resp-mobile  resp-tablet">
                            @Html.DisplayFor(m => item.Completed)
                        </td>
                        <td>
                            <partial name="_TableButtonPartialHistory" model="item.Id" />
                        </td>
                    </tr>
                }
            </table>
        </div>
    </div>
</div>
    <br /><br />

</header>